@model AwesomeForums.Models.ForumData.ForumIndexModel

<div class="d-flex justify-content-between mb-3">
    <h1>Forums</h1>
    <a class="pt-3" asp-action="Create" asp-controller="Forum">Create new forum</a>
</div>
<table class="table table-hover" id="forumIndexTable">
    <tbody>
        @foreach (var forum in Model.ForumList)
        {
            <tr>
                <td>
                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">
                        @forum.Name
                    </a>
                </td>
                <td>
                    @forum.Description
                </td>
            </tr>
        }
    </tbody>
</table>