@model AwesomeForums.Models.ForumData.ForumIndexModel

<div class="d-flex justify-content-between mb-3">
    <h1>Forums</h1>
    <p class="btn btn-info"><a  asp-action="Create" asp-controller="Forum" class="text-light text-decoration-none myLink">Create new forum</a></p>
</div>

@foreach (var forum in Model.ForumList)
{
    <div class="card mb-4 shadow-sm bg-light">
        <div class="p-3 form-inline d-flex justify-content-between">
            <div>
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id"><h5 class="card-title">@forum.Name</h5></a>
                <p class="card-text">@forum.Description</p>
            </div>
        </div>
    </div>
}

